<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tencent.mdfs.provider.orm.AppRelationMapper" >

  <select id="selectAll" resultType="AppRelation" >
    select * from t_app_relation where state=1
  </select>
</mapper>