<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tencent.mdfs.provider.orm.SpecialPathMapper" >
  <select id="listAll" resultType="SpecialPath" >
    select * from t_special_path;
  </select>
</mapper>